* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}

a {
  text-decoration: none;
  color: #333;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
  margin-bottom: 2em;
}

/* Global Classes */
.btn {
  display: inline-block;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  border-radius: 8px;
  border: 1px solid transparent;
  background-color: #3288d3;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
}

.btn:hover {
  border-color: #2368a3;
}

.btn-primary {
  background-color: #3288d3;
}

.btn-primary:hover {
  background-color: #2368a3;
}

.btn-secondary {
  background-color: #6c757d;
}

.btn-secondary:hover {
  background-color: #5a6268;
}

.btn-danger {
  background-color: #dc3545;
}

.btn-danger:hover {
  background-color: #c82333;
}

.btn-light {
  background-color: #f8f9fa;
  color: #333;
}

.btn-light:hover {
  background-color: #e2e6ea;
}

.btn-dark {
  background-color: #222427;
}

.btn-dark:hover {
  background-color: #282a2c;
}

.btn-block {
  display: block;
  width: 80%;
  margin: auto;
  text-align: center;
}

/* Headers */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.5em 0;
  font-weight: 700;
}

h1 {
  font-size: 2.5em;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1em;
}
