.team-selector .teams {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  color: white;
  gap: 20px;
  margin-bottom: 1em;
}

.team-selector .teams .team-btn {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  color: white;
  cursor: pointer;
  transition: border-color 0.25s;
  width: 170px;
}

.team-selector .teams .team-btn.selected {
  background-color: #30b671;
}

.all-teams {
  margin-bottom: 3em;
}

.errMsg {
  color: red;
  text-align: center;
  margin: 1em;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 1em;
}
